.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.item-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #213547;
}

.item-done-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.item-done-check input {
  opacity: 0;
  position: absolute;
}

.item-done-check span {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #213547;
  border-radius: 0.3rem;
  display: block;
  position: relative;
  cursor: pointer;
}

.item-done-check span::before {
  content: '\2713';
  color: #213547;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item-done-check input:checked + span::before {
  opacity: 1;
}

.item-done {
  background-color: #c0e8d5; /* Cambiar a tu color deseado */
  opacity: 0.8; /* Ajustar según tu preferencia */
}

